<div class="container-formulaire">
  <div class="formu-container">
    <h2> Je propose </h2>
    <div class="cool-bouton">
    <%= link_to "Retour", gardes_path %>
    </div>
  </div>
  <div class="form-meals">
    <%= render 'form', garde: @garde %>
  </div>
</div>
